* {
    margin: 0;
    padding: 0;
}

.header {
    height: 130px;
    background: linear-gradient(white,yellow);
}

.header_logo {
    width: 110px;
    height: 130px;
    float: left;
}

.header_name {
    padding: 15px;
    text-align: center;
    font-size: 2em;
}

.nav {
    text-align: center;
    background-color: rgb(253, 253, 170);
}

.nav_menu_home, .nav_menu_news, .nav_menu_about, .nav_menu_photoGallery, .nav_menu_ourWork {                                    
    display: inline;
    padding: 1em;
    list-style-type: none;
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
    color: rgb(93, 74, 146);
    font-size: large;
}

.nav_menu_submenu {
    position: absolute;
    right: 25%;
    width: 150px;
    background-color: rgb(248, 248, 163);
    display: none;
    list-style-type: none;
}

.nav_menu_submenu_ul_li {
    padding: 0;
    list-style-type: none;
    text-align: left;
    border: 1px solid;
}

#photoGallery {
    width: 370px;
    height: 460px;
    margin-left: 20px;
    padding: 5px;
}

#photoGallery .photoGallery_photos img {
    width: 350px;
    height: 400px;
    border: 2px solid yellow;
    display: none;
}
#photoGallery .photoGallery_photos img:first-child {
    display: block;
}
h3, .photoGallery_buttons {
    text-align: center;
    margin-top: 5px;
}
#slider {
    width: 390px;
    margin: 5px;
    float: left;
}
h2 {
    text-align: center;
}
#CalculatorRasxod {
    width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    float: left;
}
.containerMain {
    margin: 5px;
    border: 1px solid;
}
form {
    padding-top: 20px;
    margin-left: 5px;
}
.diagram {
    width: 250px;
    margin-top: 20px;
    border: 1px solid;
    display: inline-block;
}
.doxodDiv, .rasxodDiv, .balans {
    width: 60px;
    text-align: center;
    margin-left: 5px;
    display: inline-block;
    vertical-align: bottom;
}
.doxodDiv {
    background-color: blue;
}
.rasxodDiv {
    background-color: red;
}
.balans {
    background-color: green;
}
.task2 {
    text-align: center;
}
.btnAddForm {
    margin: 20px;
}


.formOne {
    position: fixed;
    top: 150px;
    left: 40%;
    z-index: 9999;
    width: 30%;
    height:30%;
    background-color: yellow;
    opacity: 0,5;
    text-align: center;
    display: none;
}
#cover-div {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
  }
  input[type=button] {
      margin: 5px;
  }
